
#banner{
    width: 100%;
}
.bprincipal{
    background-color: #CCCCCC;
    padding: 20px;
}
.titulo-principal{
    padding-left: 30px;
}
p{
    text-align: center;    
}
#mision{
    font-size: 20px;
}
em strong{
    color: red;
}
p em{
    color: rgb(1, 1, 22);
}
.diferenciales{
    background-color: white;
    padding: 30px;
}

.titulo-centrado{
    text-align: center;
}
.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}
